body{
	font-family: 'Open Sans Condensed', sans-serif;
	background: #000;
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1083px;
}
.m0a{
	margin: 0 auto;
}
.tac{
	text-align: center;
}
.jcsb{
	justify-content: space-between;
}
.aic{
	align-items: center;
}
h1,h2,h3,h4,h5,h6,p,a,div,span{
	color: #fff;
}
a{
	text-decoration: none;
	text-transform: none;
	transition: 0.5s;
}
header{
	height: 60px;
	align-items: center;
}
.f39{
	font-size: 39px;
}
.f36{
	font-size: 36px;
}
.f24{
	font-size: 24px;
}
.f12{
	font-size: 12px;
}
body > header > div > div:nth-child(1) > div,
body > footer > div > div:nth-child(1) > div
{
	line-height: 15px;
	margin-top: 13px;
}
header .f36, footer .f36{
	margin-right: 15px;
}
body > header > div > div.d-flex.aic a+a{
	margin-left: 50px;
}

footer .line{
	width: 100%;
	height: 1px;
	mix-blend-mode: normal;
	border: 1px solid #BE8500;
	box-sizing: border-box;
	box-shadow: 0px 0px 27px 2px #BE8500;
}
body > footer > div.container.d-flex.jcsb > a:nth-child(3) > img{
	margin-top: 21px;
}

.mainpage{
	background-image: url(../img/bg1.png);
	height: 650px;
	padding-top: 150px;
}
.descrmain{
	max-width: 436px;
	font-size: 21px;
	margin: 24px 0 40px 0;
}

.btn{
	cursor: pointer;
	background: #000000;
	box-shadow: 0px 4px 4px #BE8500;
	width: 150px;
}
.bigbtn{
	margin-top: 10px;
	width: 320px;
}
.sblock{
	height: 120px;
	
	mix-blend-mode: normal;
	border: 1px solid #BE8500;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px 2px #BE8500;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 25px;
}
.srvpage{
	background-image: url('../img/bg2.png');
}
/*body > div > div.blocks.d-flex.jcsb > div:nth-child(1),
body > div > div:nth-child(3) > div:nth-child(2){
	padding-top: 3.5%;
}
body > div > div.blocks.d-flex.jcsb > div:nth-child(2),
body > div > div.blocks.d-flex.jcsb > div:nth-child(3),
body > div > div:nth-child(3) > div:nth-child(3){
	padding-top: 4.5%;
}
body > div > div:nth-child(3) > div:nth-child(1){
	padding-top: 2.5%;
}*/
.techblock{
	width: 31%;
}
.price{
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: #BE8500;
}
.techblock .title{
	text-decoration: underline;
}
body > div > div:nth-child(5) > div:nth-child(1) > div:nth-child(7) > div.price.mt-1,
body > div > div:nth-child(5) > div:nth-child(1) > div:nth-child(11) > div.price.mt-1,
body > div > div:nth-child(5) > div:nth-child(3) > div:nth-child(3) > div.price.mt-1{
	padding-top: 8px;
}
a:hover{	
	text-shadow: 3px 0px 2px rgba(190, 133, 0, 0.5);
	color: #BE8500 !important;
	color: #fff;
	text-decoration: none;
}

.mobileheader{
	display: none;
}
.mobileheader img{
	width: 40px;
	margin: 15px 15px 0 0;
}
.menu{
	height: 100vh;
	position: absolute;
	right: 0;
	width: 320px;
	background: linear-gradient(90deg, #000000 0%, #BE8500 104.22%);
	/*	background: linear-gradient(90deg, #BE8500 0%, #000000 104.22%);*/
	font-size: 20px;
	text-align: center;
	padding-top: 27%;
	line-height: 95px;
	z-index: 100;
}
body > header > div > div.menu > img{
	position: absolute;
	right: 31px;
	top: 15px;
	width: 35px;
}
.mobilebtns{
	display: none;
}
.mobilebtns .btn{
	width: 48%;
}
.fixbbtn{
	display: none;
	width: 100% !important;
}
.col-4{
	max-width: 30%;
	margin-right: 3%;
}
.nowhide{
	display: none;
}
