@media (max-width: 800px) {
	.techblock_wrapper{
		display: block !important;
	}	
	.techblock{
		width: 100% !important;
	}
}
@media (max-width: 750px) {
	.sblock{
		font-size: 14px;
	}
	.fixdbdn{
		display: block !important;
	}
	.nowhide{
		display: block;
	}
	.hide_m{
		display: none !important;
	}
	.fixw50{
		width: 100% !important;
		text-align: center;
	}
	.fixbenz1{
		width: 100% !important;
	}
	.fixblockhz{
		display: block !important;
	}
	.contactpp{
		display: block !important;
	}
	.contactpp .col-5{
		flex: 0 0 100%;
		max-width: 100%;
	}
}
@media (max-width: 700px) {

	body > header > div > div.d-flex.aic{
		display: none !important;
	}		
	.mobileheader{
		display: block;
	}
	.mobilebtns{
		display: flex;
	}
	.fixbbtn{
		display: block;
		text-align: center;
	}	
	.col-4{
		flex: 0 0 48%;
		max-width: 48%;
		margin-right: 2%;
	}
	footer > div.container.d-flex.jcsb > div.d-flex > a{
		display: none;
	}
	footer > div.container.d-flex.jcsb > div.d-flex{
		display: block !important;
		text-align: center;
	}
}
@media (max-width: 640px) {
	.blocks{
		display: block !important;
	}
	body > footer > div.container.d-flex.jcsb{
		display: block !important;
		text-align: center;
	}
	body > footer > div.container.d-flex.jcsb > div.tac.mt-1{
		display: none;
	}

}

@media (max-width: 470px) {
	.f39{
		font-size: 30px;
	}
	.fixmainh{
		text-align: center;
	}
	.descrmain {
		max-width: 408px;
		font-size: 18px;
		text-align: center;
		margin: 24px;
	}

}
@media (max-width: 400px) {
	body > header > div > div:nth-child(1) > div{
		display: none;
	}
	.col-4{
		flex: 0 0 100%;
		max-width: 100%;
		margin-right: 0;
	}	
}
@media (max-width: 350px) {
	body > footer > div.container.d-flex.jcsb > div.d-flex > a{
		display: none;
	}	
}
